// Mixins SASS:
@mixin borda-arredondada($raio: 0.3em) {
    -webkit-border-radius: $raio;
    border-radius: $raio;
};

/// Aula 9 - Operações matemáticas com FUNCTIONS
@function tamanho-padrao($multiplicador) {
    @return round($multiplicador * $fonte-padrao);
}

/// AULA 6 - Transformando Mixins em PLACEHOLDER
%image-replacement {
    text-indent: -9999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

%sombra-padrao {
    -webkit-box-shadow: 0 2px 6.65px 0.35px rgba($dark, 0.3);
    box-shadow: 0 2px 6.65px 0.35px rgba($dark, 0.3);
}

%button-hover {
    background: $light;
    color: $dark-blue;
}

%justify-content {
    text-align:justify;
}

/***** AULA 8 - COMPASS *****/
@import "compass/css3";
@import "compass/utilities";