/* VARIÁVEIS SASS */

// Variável Cor:
$dark-blue: darken(#003060, 5); // Escurece a cor
$blue: lighten(#003060, 50); // Esclarecer a cor
$dark: #191919;
$light: #f9f9f9;
$light-gray: #cfcfcf;
$light-dark: #a0a0a0;

// Variável Media-query-VALOR:
$ponto-de-quebra: 980px;

// Variável Media-query-STRING:
$mq-mobile: "(max-width: " $ponto-de-quebra")"; ///Concatenação entre "STRING" e $Variável. 

// Variáveis de Fonte
$fonte-padrao: 16px;
