/** Sobre **/
.sobre {
    background: $light-gray;

    p {
        font: 0.9em/1.8 sans-serif;
        @extend %justify-content;

        &:first-child {
            margin-bottom: 3em;
        }
    }
}

.duas-colunas {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    columns: 1;

    h3 {
        margin: 0;
    }
}

@include all-plataformas-sprites;
.plataformas {
    padding: 0;

    li {
        display: inline-block;
        width: 50px;
        height: 60px;
        @extend %image-replacement;
        margin: 1em 1.5em 0 0;
    }
}

